* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}

:root {
    --bg-main:#091921;
    --bg-clock: #00000090;
    --color-text:#c4c4c4 ;
    --color-focuse: #00e1ff;
    --color-alter:rgba(132, 132, 132, 0.565);
    --text-color:#bbbbbb0f;
    --font-cursive: 'Dancing Script', cursive;
    --font-Poppins: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bg-main);
    min-width: 320px;
}

.container {
    width: 90%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {
    position: relative;
    min-width: 320px;
    height: 320px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 5px solid var(--color-alter);
    background-image:
        linear-gradient(0deg, transparent 24%,
            var(--text-color) 25%, var(--text-color) 26%,
            transparent 27%, transparent 74%, var(--text-color) 75%,
            var(--text-color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%,
            var(--text-color) 25%, var(--text-color) 26%,
            transparent 27%, transparent 74%, var(--text-color) 75%,
            var(--text-color) 76%, transparent 77%, transparent);
    background-size: 5% 5%;
    box-shadow: 2px 2px 12px var(--color-focuse);
    background-color: var(--bg-clock);
}

.title,
.year-summary {
    position: absolute;
    font-size: 1rem;
    font-family: var(--font-cursive);
    color:var(--color-text);
    opacity: .6;
}

.title {
    top: 6rem
}

.year-summary {
    bottom: 5rem;
}


.number-hours {
    position: absolute;
    width: 10px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.bar span {
    max-width: 293px;
    max-height: 293px;
    position: absolute;
    transform: rotate(calc(var(--index)*6deg));
    inset: .5rem;
    overflow: hidden;
    text-align: center;
}

.bar span p {
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: var(--color-text);
}

.bar span:nth-child(5n + 1) p {
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    /* border-radius: 5px; */
    background-color:var(--color-focuse);
}

.number-hours span {
    position: absolute;
    transform: rotate(calc(var(--index) * 30deg));
    inset: -.2rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}


.number-hours span p {
    transform: rotate(calc(var(--index) * -30deg));
    font-size: 1.2rem;
    width: fit-content;
    -webkit-text-stroke: 1px #8f8f8f;

}

.hour-container,
.minute-container,
.second-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour-container {
    height: 30%;
    width: 30%;
}

.minute-container {
    height: 40%;
    width: 40%;
    z-index: 2;
}

.second-container {
    height: 100%;
    width: 100%;
    z-index: 3;
}

.hour-container::after {
    position: absolute;
    content: '';
    background-color:var(--color-text);
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.minute-container::after {
    position: absolute;
    content: '';
    background-color: var(--color-text);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.second-container::after {
    position: absolute;
    content: '';
    background-color:var(--color-focuse);
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.hour-container {
    position: absolute;
    height: 40%;
    width: 30%;
}

.minute-container {
    position: absolute;
    height: 70%;
    width: 50%;

}

.second-container {
    position: relative;
    height: 80%;
    width: 70%;

}

.hour-indicator,
.minute-indicator,
.second-indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hour-indicator::before {
    content: '';
    position: absolute;
    width: 5.5px;
    height: 50%;
    background:var(--color-text);
    z-index: 10;
}


.minute-indicator::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 50%;
    background-color:var(--color-text);
}


.second-indicator::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    background: var(--color-focuse);

}


.hour-indicator::after,
.minute-indicator::after,
.second-indicator::after {
    content: '';
    position: absolute;
    top: -5px;
    width: 0;
    height: 0;
}


.hour-indicator::after,
.minute-indicator::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 13px solid var(--color-text);
}

.second-indicator::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 12px solid var(--color-focuse);
}
